In [13]:
import pandas as pd

In [4]:
data2008_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26(0).xls',encoding='UTF-8')
data2008_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (1).xls',encoding='UTF-8')
data2009_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (2).xls',encoding='UTF-8')
data2009_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (3).xls',encoding='UTF-8')
data2010_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (4).xls',encoding='UTF-8')
data2010_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (5).xls',encoding='UTF-8')
data2011_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (6).xls',encoding='UTF-8')
data2011_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (7).xls',encoding='UTF-8')
data2012_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (8).xls',encoding='UTF-8')
data2012_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (9).xls',encoding='UTF-8')
data2013_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (10).xls',encoding='UTF-8')
data2013_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (11).xls',encoding='UTF-8')
data2014_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (12).xls',encoding='UTF-8')
data2014_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (13).xls',encoding='UTF-8')
data2015_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (14).xls',encoding='UTF-8')
data2015_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (15).xls',encoding='UTF-8')
data2016_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (16).xls',encoding='UTF-8')
data2016_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (17).xls',encoding='UTF-8')
data2017_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (18).xls',encoding='UTF-8')
data2017_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (19).xls',encoding='UTF-8')
data2018_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (20).xls',encoding='UTF-8')
data2018_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (21).xls',encoding='UTF-8')
data2019_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (22).xls',encoding='UTF-8')
data2019_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (23).xls',encoding='UTF-8')
data2020_1 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (24).xls',encoding='UTF-8')
data2020_2 = pd.read_html('/home/zeus/ws/hjeda/data/month/KOBIS_월별박스오피스_2024-09-26 (25).xls',encoding='UTF-8')

In [5]:
df_2008_1 = data2008_1[6][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_1.insert(0,"해당월",20081)

df_2008_2 = data2008_1[5][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_2.insert(0,"해당월",20082)

df_2008_3 = data2008_1[4][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_3.insert(0,"해당월",20083)

df_2008_4 = data2008_1[3][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_4.insert(0,"해당월",20084)

df_2008_5 = data2008_1[2][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_5.insert(0,"해당월",20085)

df_2008_6 = data2008_1[1][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_6.insert(0,"해당월",20086)

df_2008_7 = data2008_2[6][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_7.insert(0,"해당월",20087)

df_2008_8 = data2008_2[5][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_8.insert(0,"해당월",20088)

df_2008_9 = data2008_2[4][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_9.insert(0,"해당월",20089)

df_2008_10 = data2008_2[3][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_10.insert(0,"해당월",200810)

df_2008_11 = data2008_2[2][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_11.insert(0,"해당월",200811)

df_2008_12 = data2008_2[1][["순위","영화명","개봉일","매출액","매출액 점유율","누적매출액","관객수","누적관객수","스크린수","상영횟수","대표국적","국적","배급사"]]
df_2008_12.insert(0,"해당월",200812)

In [118]:
# 데이터를 저장할 딕셔너리
dfs = {}

# 각 연도와 달에 맞는 DataFrame 생성
for year in range(2008, 2021):  # 2008부터 2020까지
    for half in range(1, 3):  # 1: 상반기 (1-6월), 2: 하반기 (7-12월)
        # 연도별 데이터의 반기에 맞는 테이블 가져오기
        if half == 1:
            data_half = data2008_1 if year == 2008 else globals()[f'data{year}_1']
        else:
            data_half = data2008_2 if year == 2008 else globals()[f'data{year}_2']
        
        # 월에 맞게 테이블 선택 (1부터 6까지는 하향식 선택)
        for month_index in range(6, 0, -1):  # 6부터 1까지
            df_name = f"df_{year}_{month_index + (6 if half == 2 else 0)}"
            dfs[df_name] = data_half[month_index][[
                "순위", "영화명", "개봉일", "매출액", "매출액 점유율", "누적매출액", 
                "관객수", "누적관객수", "스크린수", "상영횟수", "대표국적", "국적", "배급사"
            ]]
            # 해당월 추가
            dfs[df_name].insert(0, "해당월", int(f"{year}{month_index + (6 if half == 2 else 0)}"))
            
# 예시로 특정 데이터프레임 출력
dfs['df_2020_12']  # 2008년 1월 데이터 출력

,해당월,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,202012,1,반도,2020-07-15,27960546720,0.592,27961736720,3217761,3217931,2575,161089,한국,한국,(주)넥스트엔터테인먼트월드(NEW)
1,202012,2,#살아있다,2020-06-24,5979662060,0.127,15935747520,702431,1897375,1508,81832,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
2,202012,3,강철비2: 정상회담,2020-07-29,3907630360,0.083,3907630360,515077,515077,2137,27722,한국,한국,롯데컬처웍스(주)롯데엔터테인먼트
3,202012,4,밤쉘: 세상을 바꾼 폭탄선언,2020-07-08,1440370320,0.030,1459468320,169396,171570,882,26570,미국,"미국,캐나다",(주)홈초이스
4,202012,5,결백,2020-06-10,1059587000,0.022,7641410840,122776,865692,613,16904,한국,한국,"소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,(주)키다리이엔티"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
678,202012,674,피아노를 히말라야로,NaN,0,0.000,0,0,0,1,1,영국,영국,NaN
679,202012,674,작은 아씨들,2020-02-12,0,0.000,7266325830,0,862199,2,4,미국,미국,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
680,202012,674,지푸라기라도 잡고 싶은 짐승들,2020-02-19,0,0.000,5445594750,0,627247,2,5,한국,한국,플러스엠 엔터테인먼트
681,202012,674,로맨스 빠빠,1960-01-28,0,0.000,10833000,0,5421,1,1,한국,한국,NaN
682,202012,합계,NaN,NaN,47239741650,NaN,707044378558,5618655,87336522,18767,433592,NaN,NaN,NaN

In [110]:
# 데이터를 저장할 딕셔너리
dfs = {}

# 각 연도와 달에 맞는 DataFrame 생성
for year in range(2008, 2021):  # 2008부터 2020까지
    for half in range(1, 3):  # 1: 상반기 (1-6월), 2: 하반기 (7-12월)
        # 연도별 데이터의 반기에 맞는 테이블 가져오기
        if half == 1:
            data_half = data2008_1 if year == 2008 else globals()[f'data{year}_1']
        else:
            data_half = data2008_2 if year == 2008 else globals()[f'data{year}_2']
        
        # 월에 맞게 테이블 선택 (1부터 6까지는 하향식 선택)
        for month_index in range(6, 0, -1):  # 6부터 1까지
            df_name = f"df_{year}_{month_index + (6 if half == 2 else 0)}"
            dfs[df_name] = data_half[month_index][[
                "순위", "영화명", "개봉일", "매출액", "매출액 점유율", "누적매출액", 
                "관객수", "누적관객수", "스크린수", "상영횟수", "대표국적", "국적", "배급사"
            ]]
            # 해당월 추가
            dfs[df_name].insert(0, "해당월", int(f"{year}{month_index + (6 if half == 2 else 0)}"))
            
            # "순위"가 "합계"인 행을 제거
            dfs[df_name] = dfs[df_name][dfs[df_name]['순위'] != '합계']

# 예시로 특정 데이터프레임 출력
dfs['df_2008_1']  # 2008년 1월 데이터 출력

,해당월,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,20081,1,쿵푸 팬더,2008-06-05,25692486000,0.275,25699507000,3970493,3971496,563,61883,미국,미국,CJ ENM
1,20081,2,강철중: 공공의 적 1-1,2008-06-19,18813191100,0.202,18813191100,2818042,2818042,707,37208,한국,한국,"CJ ENM,(주)시네마서비스"
2,20081,3,인디아나 존스 4 : 크리스탈 해골의 왕국,2008-05-22,9594754000,0.103,26683043500,1489865,4110596,644,39517,미국,미국,CJ ENM
3,20081,4,원티드,2008-06-26,7964255500,0.085,7964255500,1184055,1184055,512,14536,미국,미국,유니버설픽쳐스인터내셔널 코리아(유)
4,20081,5,섹스 앤 더 시티,2008-06-05,7011479100,0.075,7016302100,1048856,1049545,361,24151,미국,미국,에스케이텔레콤(주)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,20081,293,매니아트릭스,NaN,5000,0.000,5000,1,1,1,1,한국,한국,NaN
296,20081,297,미운 오리 새끼의 모험,2008-04-03,0,0.000,618313000,0,109036,1,1,프랑스,"프랑스,독일,덴마크","(주)드림팩트엔터테인먼트,예지림엔터테인먼트"
297,20081,297,하나 그리고 둘,2000-10-28,0,0.000,0,0,0,1,2,대만,"대만,일본",(주)리틀빅픽쳐스
298,20081,297,씨너스 담력 테스트 시사회,NaN,0,0.000,0,0,0,2,2,기타,기타,NaN
299,20081,297,CJ7:장강7호,2008-08-21,0,0.000,0,0,0,2,2,홍콩,홍콩,㈜스튜디오이쩜영

In [18]:
import pandas as pd
dfs = {}
# '해당월' 포맷팅 및 월 변경 함수
def adjust_month(x):
    year = str(x)[:4]
    month = str(x)[4:]
    
    # 상반기 월을 변환
    if month == '6':
        return f"{year}01"  # 06월 -> 01월
    elif month == '5':
        return f"{year}02"  # 05월 -> 02월
    elif month == '4':
        return f"{year}03"  # 04월 -> 03월
    elif month == '3':
        return f"{year}04"  # 03월 -> 02월
    elif month == '2':
        return f"{year}05"  # 02월 -> 05월
    elif month == '1':
        return f"{year}06"  # 01월 -> 06월
    
    # 하반기 월을 변환
    elif month == '12':
        return f"{year}07"  # 12월 -> 07월
    elif month == '11':
        return f"{year}08"  # 11월 -> 08월
    elif month == '10':
        return f"{year}09"  # 10월 -> 09월
    elif month == '9':
        return f"{year}10"  # 09월 -> 10월
    elif month == '8':
        return f"{year}11"  # 08월 -> 11월
    elif month == '7':
        return f"{year}12"  # 07월 -> 12월


# 각 연도와 달에 맞는 DataFrame 생성

for year in range(2008, 2021):  # 2008부터 2020까지
    for half in range(1, 3):  # 1: 상반기 (1-6월), 2: 하반기 (7-12월)
        # 연도별 데이터의 반기에 맞는 테이블 가져오기
        if half == 1:
            data_half = data2008_1 if year == 2008 else globals()[f'data{year}_1']
        else:
            data_half = data2008_2 if year == 2008 else globals()[f'data{year}_2']
        
        # 월에 맞게 테이블 선택 (1부터 6까지는 하향식 선택)
        for month_index in range(6, 0, -1):  # 6부터 1까지
            df_name = f"df_{year}_{month_index + (6 if half == 2 else 0)}"
            dfs[df_name] = data_half[month_index][[
                "순위", "영화명", "개봉일", "매출액", "매출액 점유율", "누적매출액", 
                "관객수", "누적관객수", "스크린수", "상영횟수", "대표국적", "국적", "배급사"
            ]]
            # 해당월 추가
            dfs[df_name].insert(0, "해당월", int(f"{year}{month_index + (6 if half == 2 else 0)}"))
            
            # "순위"가 "합계"인 행을 제거
            dfs[df_name] = dfs[df_name][dfs[df_name]['순위'] != '합계']

# 모든 데이터프레임을 하나로 합치기
combined_df = pd.concat(dfs.values(), ignore_index=True)

# 월 변경 함수 적용
combined_df['해당월'] = combined_df['해당월'].apply(adjust_month)

combined_df

# # 결합된 데이터 출력
# combined_df

,해당월,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,200801,1,우리 생애 최고의 순간,2008-01-10,18034999000,0.217,18041503000,2778087,2778900,418.0,44669,한국,한국,(주)싸이더스
1,200801,2,무방비도시,2008-01-10,10166346000,0.122,10166346000,1536823,1536823,336.0,35821,한국,한국,CJ ENM
2,200801,3,꿀벌대소동,2008-01-03,6904898500,0.083,6918087500,1159554,1161451,271.0,25303,미국,미국,CJ ENM
3,200801,4,스위니 토드 : 어느 잔혹한 이발사 이야기,2008-01-17,4509772000,0.054,4509772000,663283,663283,247.0,18981,미국,미국,워너브러더스 코리아(주)
4,200801,5,황금 나침반,2007-12-18,3757118500,0.045,18324193500,606373,2904004,293.0,19045,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73566,202012,622,불온한 당신,2017-07-20,0,0.000,35136700,0,4847,1.0,1,한국,한국,무브먼트
73567,202012,622,송환,2004-03-19,0,0.000,0,0,0,1.0,1,한국,한국,㈜인디스토리
73568,202012,622,두 개의 문,2012-06-21,0,0.000,505814000,0,73807,1.0,1,한국,한국,(주)시네마달
73569,202012,622,지슬 - 끝나지 않은 세월2,2013-03-21,0,0.000,998091200,0,145448,1.0,1,한국,한국,(주)영화사 진진
73570,202012,622,스틸 플라워,2016-04-07,0,0.000,17642200,0,2500,1.0,1,한국,한국,㈜인디스토리

In [35]:
combined_df.to_csv("../data/combined_df.csv")
temp_df = combined_df.fillna(0)

temp_df

,해당월,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,배급사
0,200801,1,우리 생애 최고의 순간,2008-01-10,18034999000,0.217,18041503000,2778087,2778900,418.0,44669,한국,한국,(주)싸이더스
1,200801,2,무방비도시,2008-01-10,10166346000,0.122,10166346000,1536823,1536823,336.0,35821,한국,한국,CJ ENM
2,200801,3,꿀벌대소동,2008-01-03,6904898500,0.083,6918087500,1159554,1161451,271.0,25303,미국,미국,CJ ENM
3,200801,4,스위니 토드 : 어느 잔혹한 이발사 이야기,2008-01-17,4509772000,0.054,4509772000,663283,663283,247.0,18981,미국,미국,워너브러더스 코리아(주)
4,200801,5,황금 나침반,2007-12-18,3757118500,0.045,18324193500,606373,2904004,293.0,19045,미국,미국,롯데쇼핑㈜롯데엔터테인먼트
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73566,202012,622,불온한 당신,2017-07-20,0,0.000,35136700,0,4847,1.0,1,한국,한국,무브먼트
73567,202012,622,송환,2004-03-19,0,0.000,0,0,0,1.0,1,한국,한국,㈜인디스토리
73568,202012,622,두 개의 문,2012-06-21,0,0.000,505814000,0,73807,1.0,1,한국,한국,(주)시네마달
73569,202012,622,지슬 - 끝나지 않은 세월2,2013-03-21,0,0.000,998091200,0,145448,1.0,1,한국,한국,(주)영화사 진진
73570,202012,622,스틸 플라워,2016-04-07,0,0.000,17642200,0,2500,1.0,1,한국,한국,㈜인디스토리

In [36]:
import mysql.connector
mydb_aws = mysql.connector.connect(
    host = "database-2.clkyg8gmk522.ap-northeast-2.rds.amazonaws.com",
    port = 3306,
    user = 'root',
    password = 'zmrpdnTwk17!',
    database = "projectHoneyjam"
)
cursor = mydb_aws.cursor(buffered=True)

temp_df = pd.read_csv("../data/combined_df.csv")
temp_df = temp_df.fillna(0)
temp_df.reset_index(inplace=True)
temp_df.drop("index", axis=1, inplace=True)
temp_df.drop("Unnamed: 0", axis=1, inplace=True)
temp_df.head()

# temp_df.drop("연도", axis=1, inplace=True)
# temp_df.drop("월", axis=1, inplace=True)

temp_df.drop("국적", axis=1, inplace=True)
temp_df.head(100)

,해당월,순위,영화명,개봉일,매출액,매출액 점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,배급사
0,200801,1,우리 생애 최고의 순간,2008-01-10,18034999000,0.217,18041503000,2778087,2778900,418.0,44669,한국,(주)싸이더스
1,200801,2,무방비도시,2008-01-10,10166346000,0.122,10166346000,1536823,1536823,336.0,35821,한국,CJ ENM
2,200801,3,꿀벌대소동,2008-01-03,6904898500,0.083,6918087500,1159554,1161451,271.0,25303,미국,CJ ENM
3,200801,4,스위니 토드 : 어느 잔혹한 이발사 이야기,2008-01-17,4509772000,0.054,4509772000,663283,663283,247.0,18981,미국,워너브러더스 코리아(주)
4,200801,5,황금 나침반,2007-12-18,3757118500,0.045,18324193500,606373,2904004,293.0,19045,미국,롯데쇼핑㈜롯데엔터테인먼트
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,200801,96,아르헨티나 할머니,2007-12-12,996500,0.000,18294000,145,2752,2.0,24,일본,프리비젼엔터테인먼트
96,200801,97,보르히아,2007-12-27,962000,0.000,1409000,144,211,1.0,25,스페인,라인트리엔터테인먼트
97,200801,98,스파이더위크가의 비밀,2008-02-14,966000,0.000,966000,138,138,1.0,1,미국,CJ ENM
98,200801,99,잠수종과 나비,2008-02-14,910000,0.000,910000,130,130,1.0,1,미국,"(주)영화사 진진,(주)유레카픽쳐스"
99,200801,100,같은 달을 보고 있다,2007-12-19,838000,0.000,1883000,125,280,2.0,29,일본,(주)이모션픽처스

In [37]:

cursor.execute('''CREATE TABLE monthly_Kmovies_jh (
               mothly varchar(16),
               ranking INT,
               title varchar(64),
               release_date varchar(16),
               gross BIGINT,
               gross_rate FLOAT,
               cumulative_gross BIGINT,
               attendance BIGINT,
               cumulative_attendance BIGINT,
               screen INT,
               numOfScreening INT,
               country varchar(16),
               baeggb varchar(64)
               );''')

In [39]:
s = "%s, "
sql = f"INSERT INTO monthly_Kmovies_jh VALUES ({s * 12}%s)"
print(sql)
for i, row in temp_df.iterrows():
    if i % 1000 == 0:
        print(i, tuple(row))
    cursor.execute(sql, tuple(row))
    mydb_aws.commit()

INSERT INTO monthly_Kmovies_jh VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
0 (200801, 1, '우리 생애 최고의 순간', '2008-01-10', 18034999000, 0.217, 18041503000, 2778087, 2778900, 418.0, 44669, '한국', '(주)싸이더스')
1000 (200805, 116, '가라, 가라 두 번째 처녀', 0, 574000, 0.0, 574000, 102, 102, 1.0, 3, '일본', 0)
2000 (200808, 203, '킹스 앤 퀸', '2007-03-02', 250000, 0.0, 8521000, 50, 1273, 1.0, 18, '프랑스', '(주)이모션픽처스')
3000 (200811, 279, '아빠의 화장실', '2009-06-25', 65500, 0.0, 97000, 13, 20, 1.0, 1, '우루과이', '(주)영화사 진진')
4000 (200905, 21, '워낭소리', '2009-01-15', 122893500, 0.001, 19071809900, 28792, 2933360, 7.0, 219, '한국', '㈜인디스토리')
5000 (200910, 130, '시네프랑스 9, 10월', 0, 1107000, 0.0, 2759000, 162, 402, 1.0, 5, '프랑스', 0)
6000 (201003, 8, '하모니', '2010-01-28', 2043536500, 0.03, 21619519000, 285118, 3013366, 277.0, 16902, '한국', 'CJ ENM')
7000 (201008, 86, '브로크백 마운틴', '2006-03-01', 1937000, 0.0, 1355653400, 239, 208167, 1.0, 11, '미국', '유니버설픽쳐스인터내셔널 코리아(유),CJ ENM')
8000 (201012, 215, '매니아(3)', 0, 68000, 0.0, 68000, 25, 25, 1.0, 2, '기타', 0)
9000 (201105, 19, '워터 포 엘리펀트', '2011-05-04', 418236500, 0.004, 418236500, 55561, 55561, 182.0, 5137, '미국', '이십세기폭스코리아(주)')
10000 (201108, 138, '돈', 0, 684000, 0.0, 684000, 126, 126, 1.0, 2, '프랑스', 0)
11000 (201110, 360, '대학졸업영화제1', 0, 0, 0.0, 0, 0, 0, 1.0, 1, 0, 0)
12000 (201202, 8, '맨 온 렛지', '2012-02-22', 3217279000, 0.032, 3217279000, 435371, 435371, 408.0, 12987, '미국', '롯데쇼핑㈜롯데엔터테인먼트')
13000 (201205, 67, '7인의 신부', '1972-12-24', 1771000, 0.0, 4940000, 878, 2450, 1.0, 12, '미국', 0)
14000 (201207, 256, '번 애프터 리딩', '2009-03-26', 404000, 0.0, 277999500, 57, 39955, 1.0, 3, '미국', '(주)성원아이컴')
15000 (201209, 149, '푸른꿈', 0, 54809, 0.0, 54809, 107, 107, 1.0, 4, '한국', 0)
16000 (201211, 215, '풍선껌 소년', 0, 27800, 0.0, 27800, 123, 123, 1.0, 1, '일본', 0)
17000 (201212, 444, '내 남자의 아내도 좋아', '2009-04-15', 114000, 0.0, 448635000, 23, 66365, 1.0, 2, '스페인', '(주)씨지브이신도림')
18000 (201303, 13, '장고:분노의 추적자', '2013-03-21', 1662239000, 0.017, 1662239000, 229221, 229221, 342.0, 9969, '미국', '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)')
19000 (201305, 238, '태양을 가린 구름', 0, 140000, 0.0, 140000, 56, 56, 1.0, 2, '터키', 0)
20000 (201307, 146, '안나 카레니나', '2013-03-21', 2368500, 0.0, 988999000, 298, 144220, 1.0, 4, '미국', '유니버설픽쳐스인터내셔널 코리아(유)')
21000 (201308, 420, '예전엔', 0, 0, 0.0, 0, 0, 0, 1.0, 1, '한국', 0)
22000 (201310, 510, '2의 증명', 0, 8000, 0.0, 468000, 4, 169, 1.0, 1, '한국', 0)
23000 (201312, 385, '리골레토', '2013-09-28', 145000, 0.0, 27397000, 29, 1082, 1.0, 1, '미국', '(주) 인스터 글로벌')
24000 (201403, 62, '그렇게 아버지가 된다', '2013-12-19', 20746000, 0.0, 929069662, 2471, 122131, 3.0, 44, '일본', '(주)티캐스트콘텐츠허브')
25000 (201405, 160, '성공의 달콤한 향기', 0, 416000, 0.0, 416000, 208, 208, 1.0, 6, '미국', 0)
26000 (201407, 220, '판타스틱 단편 걸작선 13', 0, 1014000, 0.0, 1014000, 169, 169, 1.0, 1, '기타', 0)
27000 (201409, 253, '인디애니페스트 2014-파노라마2-가족의 발견', 0, 261000, 0.0, 261000, 61, 61, 1.0, 2, '한국', 0)
28000 (201411, 248, '한공주', '2014-04-17', 965000, 0.0, 1785915300, 117, 225145, 2.0, 11, '한국', 'CGV아트하우스')
29000 (201501, 75, '꽃보다 처녀귀신', '2015-01-15', 7909000, 0.0, 7909000, 1567, 1567, 5.0, 42, '한국', '고구마콘텐츠허브(주)')
30000 (201503, 292, 'SIDOF2015_아빠가 죽으면 나는 어떡하지?/24', 0, 295000, 0.0, 295000, 59, 59, 1.0, 1, '한국', 0)
31000 (201505, 341, '이웃들 & 유령 들린 집 & 불운', 0, 156000, 0.0, 156000, 32, 32, 1.0, 3, '미국', 0)
32000 (201508, 11, '치외법권', '2015-08-27', 2174851105, 0.009, 2174851105, 280096, 280096, 446.0, 9771, '한국', '판씨네마(주)')
33000 (201509, 522, '보리의 은밀한 사생활', '2015-09-10', 5000, 0.0, 5000, 1, 1, 1.0, 1, '한국', '스마일컨텐츠')
34000 (201511, 358, '너는 착한 아이', '2016-03-24', 647000, 0.0, 647000, 65, 65, 1.0, 2, '일본', '(주)디스테이션')
35000 (201601, 60, '마카담 스토리', '2015-12-24', 21345100, 0.0, 69571000, 2842, 8834, 17.0, 228, '프랑스', '주식회사 씨네룩스')
36000 (201603, 179, '고양이 사무라이 2', '2016-03-10', 2262500, 0.0, 2262500, 287, 287, 8.0, 47, '일본', '(주)영화사 안다미로')
37000 (201605, 98, '원한의 도곡리 다리', 0, 1632000, 0.0, 6070000, 816, 3030, 1.0, 16, '미국', 0)
38000 (201606, 453, '누나 친구: 화려한 외출', '2016-06-16', 100000, 0.0, 100000, 10, 10, 1.0, 1, '일본', '(주)영진크리에이티브')
39000 (201608, 299, '익스포즈', '2016-08-11', 362000, 0.0, 362000, 73, 73, 6.0, 73, '미국', '(주)드림팩트엔터테인먼트')
40000 (201610, 1, '럭키', '2016-10-13', 46319909856, 0.3289999999999999, 46402935856, 5718620, 5728204, 1234.0, 96335, '한국', '(주)쇼박스')
41000 (201611, 320, '걸즈 앤 판처 극장판', '2016-08-25', 1080000, 0.0, 252954100, 108, 28229, 1.0, 1, '일본', '(주)머스트씨무비릴리징컴퍼니,주식회사 온 피크')
42000 (201612, 577, '마지막 사무라이', '2016-12-28', 6000, 0.0, 6000, 2, 2, 1.0, 1, '일본', '퍼즐컷')
43000 (201702, 389, '차와 동정', 0, 52000, 0.0, 6177000, 26, 3062, 1.0, 1, '미국', 0)
44000 (201704, 181, '클레르의 무릎', 0, 1853000, 0.0, 2821000, 261, 385, 1.0, 2, '프랑스', '(주)영화사 안다미로')
45000 (201705, 537, '24시간 달리는 쾌락 버스', '2017-05-20', 5000, 0.0, 5000, 1, 1, 1.0, 1, '일본', '(주)영진크리에이티브')
46000 (201707, 326, '히든 피겨스', '2017-03-23', 485000, 0.0, 3580767033, 97, 449518, 1.0, 1, '미국', '이십세기폭스코리아(주)')
47000 (201708, 556, '가정교사의 은밀한 개인교습-무삭제판-', '2017-08-03', 6000, 0.0, 6000, 1, 1, 1.0, 1, '일본', '(주)도키엔터테인먼트')
48000 (201710, 106, '그리다', '2017-10-26', 5184100, 0.0, 5184100, 721, 721, 15.0, 77, '한국', '㈜인디스토리')
49000 (201711, 469, '서칭 포 슈가맨', '2012-10-11', 387000, 0.0, 210897100, 49, 29358, 1.0, 2, '스웨덴', '판씨네마(주)')
50000 (201712, 665, '남편보다 근육질 남자', '2017-12-07', 6000, 0.0, 6000, 1, 1, 1.0, 1, '일본', '(주)도키엔터테인먼트')
51000 (201802, 365, '내 여자친구의 남자친구', 0, 194000, 0.0, 4835000, 40, 757, 1.0, 2, '프랑스', '(주)영화사 안다미로')
52000 (201804, 207, '캐롤', '2016-02-04', 1567000, 0.0, 2658951753, 175, 321043, 1.0, 3, '미국', 'CGV아트하우스')
53000 (201805, 598, '딥', '2017-10-03', 0, 0.0, 1772272000, 0, 230068, 1.0, 2, '스페인', '(주)이수C&E')
54000 (201807, 342, '클라우즈 오브 실스마리아', '2014-12-18', 674000, 0.0, 264488599, 75, 33168, 1.0, 1, '프랑스', '(주)나이너스엔터테인먼트')
55000 (201808, 614, '반짝이는 박수 소리', '2015-04-23', 8000, 0.0, 31509100, 4, 5654, 1.0, 4, '한국', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)')
56000 (201810, 112, '샐러리맨', 0, 1242000, 0.0, 1242000, 621, 621, 1.0, 11, '미국', 0)
57000 (201811, 460, 'SPFF 2018 너는 바다+칼랑코에의 꽃', 0, 510000, 0.0, 510000, 51, 51, 1.0, 2, '일본', 0)
58000 (201812, 549, '파워배틀 와치카: 와치가면의 역습', '2017-06-01', 108000, 0.0, 166933500, 18, 23675, 1.0, 2, '한국', '(주)에스에이엠지엔터테인먼트')
59000 (201902, 281, '오렌지필름 기획전 - 위대한 귀여움에 대하여', 0, 353000, 0.0, 353000, 52, 52, 1.0, 7, '한국', 0)
60000 (201904, 256, '초원의 빛', '1972-03-18', 208000, 0.0, 37837000, 104, 18597, 1.0, 6, '미국', 0)
61000 (201905, 598, '달콤한 불륜의 맛 : 상사에게 중독된 아내', '2019-05-31', 1000, 0.0, 1000, 1, 1, 1.0, 1, '일본', '(주)씨맥스커뮤니케이션즈')
62000 (201907, 216, 'MSFF2019 비정성시 3', 0, 1104000, 0.0, 3092400, 185, 518, 1.0, 1, '한국', 0)
63000 (201908, 492, '내 아내의 성접대', '2019-08-19', 6000, 0.0, 6000, 1, 1, 1.0, 1, '일본', '(주)영진크리에이티브')
64000 (201910, 332, '에곤 쉴레: 욕망이 그린 그림', '2016-12-22', 679000, 0.0, 397269100, 86, 49654, 1.0, 3, '오스트리아', '(주)티캐스트')
65000 (201911, 643, '콜로니아', 0, 90000, 0.0, 90000, 18, 18, 1.0, 2, '독일', '(주)콘텐츠판다')
66000 (201912, 684, '친구의 새엄마와 밤치기', '2019-12-06', 6000, 0.0, 6000, 1, 1, 1.0, 1, '일본', '(주)도키엔터테인먼트')
67000 (202002, 318, '위 아 리틀 좀비', 0, 189000, 0.0, 189000, 21, 21, 1.0, 6, '일본', '(주)얼리버드픽쳐스')
68000 (202004, 375, '첫경험 3 - 무삭제판', '2020-04-01', 2000, 0.0, 2000, 1, 1, 1.0, 1, '한국', '(주)컨텐츠 빌리지')
69000 (202006, 342, '리어왕', 0, 186500, 0.0, 186500, 37, 37, 1.0, 3, '미국', 0)
70000 (202008, 37, '어서오시게스트하우스', '2020-08-13', 30665670, 0.0, 31913670, 3468, 3658, 58.0, 489, '한국', '(주)리틀빅픽쳐스')
71000 (202009, 336, '포스 마쥬어: 화이트 베케이션', '2015-03-12', 131000, 0.0, 40773400, 19, 5449, 1.0, 1, '스웨덴', '(주)블룸즈베리리소시스리미티드')
72000 (202011, 47, '레볼루셔너리 로드', '2009-02-19', 25412000, 0.001, 407717000, 3275, 58977, 41.0, 400, '미국', 'CJ ENM')
73000 (202012, 63, '지푸라기라도 잡고 싶은 짐승들', '2020-02-19', 11420000, 0.001, 5457014750, 1730, 628977, 30.0, 340, '한국', '플러스엠 엔터테인먼트')